@font-face {
    font-family: 'MinhaFonte';
    src: url('my_chemical_romance.ttf') format('truetype');
}

img {
    display: block;
    margin-left: center;
    margin-right: center;
    width: 600px; 

}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 180px;
    padding: 16px;
    border: 1px solid #ddd;
    background: #fafafa;
}

head{
    padding: 0em;
}
body{
    
    font-size: 20px;
    color: rgb(197, 0, 0);
    font-family: 'MinhaFonte', sans-serif;
    background-image: url('BaVdUv.png');
    background-repeat: no-repeat;
    background-size:50%;
    background-position-x: center;
    background-position-y: bottom;
    background-attachment: fixed;
    bottom: 0;
    color: black;
    Left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}

h1{
    font-family: 'MinhaFonte', sans-serif;
    font-size: 50px;
    color: rgb(197, 0, 0);
    text-align: center;
}



h2{
    font-family: 'MinhaFonte', sans-serif;
    font-size: 40px;
    color: rgb(197, 0, 0);
    text-align: center;
}

h3{
    font-family: 'MinhaFonte', sans-serif;
    font-size: 25px;
    color: rgb(183, 14, 14);
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

h4{
    display: block;
    font-family: 'MinhaFonte', sans-serif;
    font-size: 15px;
    color: rgb(114, 2, 2);
    text-align: left;
}



a {
    display: block;
    font-family: 'MinhaFonte', sans-serif;
    font-size: 30px;
    color: rgb(114, 2, 2);
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.container {
    background: linear-gradient(to bottom, rgba(34, 0, 0, 0.8), rgba(50,0,0,0.7));
    border: 1px solid rgb(197, 0, 0);
    padding: 20px;


}

.emo-border {
  border: 5px solid #000;
  background: linear-gradient(145deg, #1a1a1a, #2b0000);
  box-shadow:
    0 0 10px #ff003c,
    0 0 20px #000,
    inset 0 0 15px #ff003c;
  color: #fff;
  text-shadow: 0 0 4px #ff004c;
  font-family: "Verdana", sans-serif;
  max-width: 600px;
  margin: auto;
}

.capa-emo {
    
    width: 150px;
    margin: 12px 25px 12px 0;

    border: 6px solid #000;
    border-radius: 4px;

    box-shadow:
        0 0 8px #ff0037,
        0 0 15px #630000,
        0 0 25px #000,
        inset 0 0 10px #ff0037,
        inset 0 0 15px #57000e;

   
    filter: contrast(120%) grayscale(20%);
}

body{
    
    margin: 0;

}

.logo img {
    width: 96px;
    height: auto;
}

.site-header {
    padding: 0em;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 32px;
    background-color: rgb(255, 255, 255);
    display: flex;
    box-shadow: 0 10px 24 px rgba(0, 0, 0, 0.08);
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

}

.informacoes .aluno{
    font-size: 14px;
    color: black;
    margin-bottom: 4px;
}

.informacoes .titulo-site{
    font-size: 18px;
    margin: 0;
    color: black;

}

.site-nav a {
    color: rgb(153, 0, 0);
    text-decoration: none;
    font-weight: 600;

}

.site-nav a:hover {
    color: rgb(197, 0, 0);
    text-decoration: none;

}